$spacing-slide-y: 24px;
$spacing-slide-x: 32px;

$spacing-para: 24px;
$background-wrap: #EDEEEF;

.section2{
    position: relative;

    background: url(../images/mask.png) no-repeat center;
    background-size: 100% 120%;
    @include respond-to('md'){
        background-size: cover;
    }
}
.bg-hat{
    background: url(../images/mask.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.dapha-para {
    color: $link-hover;
    @extend .font-svn;
}
.para-heading-36 {
    font-size: 36px;
    line-height: 51px;
    @include respond-to('md'){
        font-size: 24px;
        line-height: 32px;
    }
}

.dapha-line {
    width: 360px;
    height: 2px;
    background-color: $white;
    margin: $spacing-para 0;
    @include respond-to('md'){
        margin: calc(#{$spacing-para} / 2) 0;
    }
}

.para-normal {
    margin-bottom: $spacing-para;
    font-size: 18px;
    line-height: 21px;
    @include respond-to('md'){
        margin-bottom: calc(#{$spacing-para} / 2);
        // font-size: 14px;
        // line-height: 20px;
    }
}

.para-desc {
    font-size: 24px;
    line-height: 35px;
}
.dapha-wrap{
    background: #E5E5E5;
    padding-bottom: 32px;
    // padding: 132px 0 32px 0;
    @include respond-to('md'){
        padding-bottom: 24px;
    }
}
.dapha-section{
    &:not(:last-child){
        margin-bottom: 24px;
    }
}
.dapha-home{
    .section2{
        margin-bottom: 0 !important;
        padding: 24px 0 20px;
        &-btn{
            max-width: 500px;
            margin: auto;
        }
    }
}
.dapha-slide {
    margin-bottom: 0 !important;
    .dapha-inner {
        position: relative;
    }
    .dapha-box {
        background-color: $main-color;
        padding: $spacing-slide-y $spacing-slide-x;

        border-radius: 6px;
        background: url(../images/swiper/mask.webp) no-repeat center $main-color;
        background-size: 100% 100%;
        .para-normal {
            @extend .font-Roboto;
        }
        @include respond-to('md'){
            padding: 12px;
        }
    }
    .col-8 {
        max-width: 756px;
    }
    .col-4 {
        max-width: 330px;
        margin-left: auto;
    }

    .slide-1 {
        background: url(../images/home-cate/bg-banner-home.webp) no-repeat center;
        background-size: cover;
        padding: 100px 0 96px;
        height: auto;

        @include respond-to('md'){
            padding: 32px 0;
            .col-md-12{
                max-width: 100%;
            }
            .col-md-12:first-child{
                order: 2;
            }
            .col-md-12:last-child{
                order: 1;
            }
            picture{
                @include aspect-ratio(508,566,0);
            }
        }
    }
    .slide-2 {
        background: url(../images/nha-may-san-xuat/bg-section2.jpg) no-repeat center;
        background-size: cover;
        padding: 86px 0 86px;
        .dapha-line {
            background-color: $link-hover;
            margin: 24px auto;
        }
        .para-normal {
            line-height: 25px;
            margin-bottom: 20px;
            @extend .font-utm;
        }
        @include respond-to('md'){
            padding-bottom: 32px;
            height: auto;
            .para-normal{
                font-size: 18px;
            }
        }
    }
    .box-group {
        padding: 0 77px 0 107px;
        .box-item {
            background: $link-hover;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
            border-radius: 6px;

            padding: 10px 24px 40px;

            height: 100%;
            > * {
                font-size: 18px;
                line-height: 25px;
                color: $black;
            }
        }
        @include respond-to('md'){
            padding: 10px;
            .col{
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }
            .box-item {
                padding: 10px;
                height: 100%;
                > * {
                    font-size: 18px;
                    line-height: 25px;
                    color: $black;
                }
            }
            .para-normal{
                margin-bottom: 12px;
            }
        }
    }
    .vector {
        margin-top: 20px;
        picture {
            max-width: 90px;
            margin-left: auto;
        }
    }
    @include respond-to('md'){
        .swiper{
            padding-bottom: 18px;
        }
        .swiper-pagination{
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 4px;
        }
        .swiper-pagination-bullet{
            opacity: 1;
            width: 40px;
            height: 4px;
            background: #b6c0ce;
            border-radius: 100px;
            opacity: 1;
            &:not(:last-child){
                margin-right: 4px;
            }
            &-active{
                background: #E09826;
                border-color: #E09826;
            }
        }
    }
}
.section-cate {
    .row{
        margin-right: -16px;
        margin-left: -16px;
    }
    .rs-col{
        padding: 0 16px;
    }
    .btn-none-events {
        background: #3a4b00;
        box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        padding: 10px;
        margin-top: 32px;
        text-align: center;

        font-family: "SVN-HC-Al", Arial, Helvetica, sans-serif;
    }
    &-btn{
        max-width: 500px;
        margin: auto;

        text-align: center;
    }
    @include respond-to('md'){
        .cate-item{
            display: flex;
            align-items: center;
            background: #3a4b00;
            margin-bottom: 20px;
            box-shadow: 5px 4px 4px rgba(0,0,0,0.25);
            border-radius: 6px;
            picture{
                max-width: 200px;
            }
            .btn-none-events{
                box-shadow: none;
                background: transparent;
                padding: 0 0 0 8px;

                margin-top: 0;
            }
        }
        .btn-none-events{
            font-size: 20px;
            line-height: 26px;
        }
        .section2-btn{
            .btn-none-events{
                margin-top: 0;
            }
        }
    }
}

.section-tabs-horizontal{
    padding: 24px 0 50px;
    overflow: hidden;
    background: url(../images/home-cate/mask-cuoi.webp) no-repeat center $main-color;
    background-size: 100% 100%;
    .tabs-item{
        &-name{
            @extend .txt-center;
            margin-bottom: 16px;
            font-family: $font-SVN-AL, Arial, Helvetica, sans-serif;
        }
        .para-normal {
            line-height: 25px;
            word-break: break-word;
            text-align: justify;
            margin-bottom: 0;
        }
    }
    .dapha-inner{
        position: relative;
        padding: 0 103px 0 123px;
        .row{
            padding: 0 12px;
            margin: 0;
        }
        &::before, &:after{
            content: '';
            position: absolute;
            width: 2px;
            background: #E09826;
            height: 180px;
        }
        &::before{
            top:0;
            left: 123px;
        }
        &:after{
            bottom: -66px;
            right: 103px;
        }
    }
    @include respond-to('md'){
        background-size: cover;
        padding: 24px 0 20px;
        .tabs-item{
            display: flex;
            margin-bottom: 12px;
            &-name{
                font-size: 22px;
                line-height: 28px;
                max-width: 118px;
                width: 100%;
                text-align: left !important;
            }
            &-content{
                flex: 1;
            }
        }
        .dapha-inner{
            padding: 0;
            .row{
                padding: 0 10px;
                margin: 0;
            }
            &::before, &:after{

            }
            &::before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }
    }
}
.button-scroll{
    position: absolute;
    right:calc((100vw - 1200px)/2 + 48px);
    bottom: 82px;
    z-index: 99;

    max-width: 48px;
    cursor: pointer;
    @include respond-to('md'){
        display: none;
    }
}