.checkout-input {
  border: 1px solid #000;
  height: 32px;
  outline: none;
  padding: 0 9px;
  font-size: 1.2rem;
  line-height: 1.7;
  &:focus {
    box-shadow: 0 0 3px 1px #00699d;
    border: 1px solid #c2c2c2;
  }
}
.input-field {
  margin-bottom: 20px;
  font-size: 0;
  width: 100%;
  label {
    display: block;
    margin-bottom: 8px;
    span {
      font-size: 12px;
      line-height: 20px;
      display: inline-block;
    }
    &::after {
      content: "*";
      color: #e02b27;
      font-size: 1.1rem;
      margin: 0 0 0 5px;
    }
  }
  input {
    width: 100%;
    &.additional {
      margin-top: 10px;
    }
  }
  .note {
    font-size: 12px;
    margin-top: 10px;
  }
  &.field-tooltip {
    input {
      width: calc(100% - 36px);
    }
    .tooltip {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      &-content {
        background: #f4f4f4;
        border: 1px solid #999;
        border-radius: 1px;
        font-size: 12px;
        padding: 12px;
        width: 270px;
        display: none;
        right: -10px;
        position: absolute;
        text-transform: none;
        top: 40px;
        word-wrap: break-word;
        z-index: 2;
        &::before,
        &::after {
          border: 10px solid transparent;
          height: 0;
          width: 0;
          left: -20px;
          top: 12px;
          content: "";
          display: block;
          position: absolute;
          z-index: 3;
        }
        &::before {
          border-right-color: #999;
        }
        &::after {
          border-right-color: #f4f4f4;
          width: 1px;
          z-index: 4;
          left: -19px;
        }
      }
      &:active,
      &:focus,
      &:hover {
        .tooltip {
          &-content {
            display: block;
          }
        }
      }
    }

    i {
      border: 1px solid #ccc;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      color: #ccc;
      &::before {
        font-size: 12px;
      }
    }
  }
  &.field-half {
    width: 48%;
  }
  &.field-full-mb {
    @include respond-to("sm") {
      width: 100%;
    }
  }
}
.checkout {
  &-pages {
    .container {
      max-width: 1400px;
    }
  }
  &__heading {
    height: 9.8em;
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    .logo {
      width: 12em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-size: 1.4rem;
      display: inline-block;
      img,
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    @include respond-to("md") {
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }
    @include respond-to("sm") {
      margin: 0 -10px 10px;
      padding: 16px 0 41px;
      height: 12.1em;

      .logo {
        width: 12.5em;
        top: 16px;
        transform: translate(-50%, 0);
      }
    }
  }
  &__sign-in {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    width: 100%;
    .sign-in__wrapper {
      width: calc(100% / 3);
      text-align: right;
      position: relative;
    }
    .btn-open {
      line-height: 20px;
      color: #d35350;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
    .sign-in-modal {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      text-align: left;
      border: 1px solid #aeaeae;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden;
      transform: scale(1, 0);
      transform-origin: 0 0;
      background: #fff;
      z-index: 999;
      &.open {
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
        .modal-overlay {
          position: fixed;
          width: 100vw;
          height: 100vh;
          background: transparent;
          z-index: 997;
          top: 0;
          left: 0;
        }
      }
      .title {
        font-size: 23px;
        line-height: 39px;
        margin-bottom: 25px;
      }
    }

    .modal-wrapper {
      padding: 25px;
      position: relative;
      z-index: 998;
    }
    .ic-close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 12px;
      cursor: pointer;
    }
    .sign-in--form {
    }
    .sign-in--action {
      margin-top: 40px;
      display: table;
      width: 100%;
    }
    .btn-forgot {
      color: #d35350;
      font-weight: 400;
      line-height: 1.7;
      font-size: 1.2rem;
      display: inline-block;
      float: left;
      margin-right: 20px;
      padding-top: 16px;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
    .btn-sign-in {
      line-height: 1.9rem;
      padding: 14px 17px;
      font-size: 1.4rem;
      display: inline-block;
      background: #000;
      color: #fff;
      float: right;
    }
    @include respond-to("md") {
      .sign-in--action {
        flex-flow: column;
      }
      .btn-sign-in {
        order: 1;
        align-self: flex-end;
      }
      .btn-forgot {
        order: 2;
        align-items: flex-start;
      }
    }
    @include respond-to("sm") {
      padding: 0 x5px;
      .sign-in-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.55);
        transform: translateX(100%);
        .title {
          font-size: 16px;
          line-height: 20px;
        }
        &.open {
          transform: translateX(0);
        }
      }
      .modal-wrapper {
        width: calc(100% - 40px);
        left: 40px;
        height: 100%;
        background-color: #f4f4f4;
      }
      .btn-sign-in {
        width: 100%;
        text-align: center;
      }
      .btn-forgot {
        margin-top: 35px;
        padding-top: 0;
      }
    }
  }
  &__progress-bar {
    text-align: center;
    margin: 0 0 40px;
    counter-reset: i;
    display: block;
    font-size: 0;
    .progress-bar__item {
      width: 185px;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      &::before {
        background: #e4e4e4;
        border: 1px solid #e4e4e4;
        top: 14px;
        transition: background 0.3s;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      span {
        display: inline-block;
        padding-top: 40px;
        width: 100%;
        word-wrap: break-word;
        text-transform: uppercase;
        color: #666;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        &::before {
          background: #e4e4e4;
          border: 1px solid #e4e4e4;
          height: 28px;
          margin-left: -14px;
          transition: background 0.3s;
          width: 28px;
          content: "";
          left: 50%;
          position: absolute;
          top: 0;
        }
        &::after {
          position: absolute;
          background: #fff;
          height: 22px;
          margin-left: -11px;
          top: 3px;
          width: 22px;
          content: counter(i);
          counter-increment: i;
          color: #333;
          font-weight: 600;
          font-size: 1.4rem;
          left: 50%;
          transition: background 0.3s;
          border: 1px solid #e4e4e4;
        }
      }
      &.active {
        &::before {
          background: #000;
          border-color: #000;
        }

        span {
          color: #333;
          &::before {
            background: #000;
            border-color: #000;
          }
          &::after {
            border-color: #000;
            content: "";
            font-family: "icon-system" !important;
          }
        }
      }
    }
    @include respond-to("sm") {
      display: none;
    }
  }
  &-opc {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    .opc-shipping {
      width: calc(100% / 1.5);
      padding-right: 30px;
    }
    .shipping-title {
      padding-bottom: 10px;
      text-transform: uppercase;
      text-align: center;
      color: #333;
      font-weight: 400;
      font-size: 1.8rem;
    }
    .shipping-address {
      border: 1px solid #ccc;
      margin-bottom: 25px;
      padding: 25px;
      form {
        max-width: 550px;
        margin: 0 auto;
      }
    }
    .form-login {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    .shipping-method {
      border: 1px solid #ccc;
      margin-bottom: 25px;
      padding: 25px;
    }
    .form-shipping {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 28px;
    }
    select {
      background: #fff;
      background-clip: padding-box;
      border: 1px solid #000;
      border-radius: 0;
      font-family: "HCo Gotham", Helvetica, sans-serif;
      font-size: 1.2rem;
      line-height: 1.7;
      padding: 5px 10px 4px;
      vertical-align: baseline;
      width: 100%;
      box-sizing: border-box;
      appearance: none;
      background: #fff url(../images/select-bg.svg) no-repeat 100% 45%;
      background-size: 30px 60px;
      border: 1px solid #000;
      height: 32px;
      padding-right: 25px;
      outline: none;
      &:focus {
        border: 1px solid #c2c2c2;
      }
      &:not([disabled]):focus {
        box-shadow: 0 0 3px 1px #00699d;
      }
    }
    .no-quotes-block {
      font-style: normal;
      font-weight: 400;
      line-height: 1.7;
      font-size: 1.2rem;
    }
    .form-method-shipping {
      table {
        max-width: 550px;
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid #ccc;
        border-collapse: initial;
        width: 100%;
      }
    }
    .shipping-method-additional-load {
      margin-top: 40px;
    }
    .table-shipping-method {
      tr {
        td {
          border-top: 1px solid #ccc;
          padding-bottom: 20px;
          padding-top: 20px;
          position: relative;
          cursor: pointer;
          width: auto;
          font-size: 12px;
          &:first-child {
            padding-left: 25px;
            padding-right: 0;
            width: 20px;
          }
          &.col-price {
            span {
              font-weight: 600;
              font-size: 12px;
              line-height: 14px;
            }
          }
          input {
            margin: 2px 5px 0 0;
          }
        }
        &:first-child {
          td {
            border-top: none;
          }
        }
      }
    }
    .table-additional-method {
      tr {
        &:first-child {
          td {
            border-top: none;
          }
        }
        td {
          border-top: 1px solid #ccc;
          padding: 20px;
          position: relative;
          cursor: pointer;
          width: auto;
          font-size: 0;
          input {
            margin-right: 12px;
          }
          label {
            display: inline-flex;
            justify-content: space-between;
            width: calc(100% - 25px);
            flex-wrap: wrap;
            span {
              font-size: 12px;
            }
            .label-desc {
              width: 100%;
              font-size: 10px;
              padding-right: 50px;
              margin-top: 2px;
            }
            .label-price,.label-title{
                line-height: 20px;
            }
          }
        }
      }
    }
    .signedfor-message {
      font-size: 11px;
      padding: 15px;
      width: 100%;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      max-width: 550px;
      margin-top: 20px;
      color: #6f4400;
      display: block;
      background: #fdf0d5;
    }
    .actions-box {
      max-width: 550px;
      margin: 25px auto 0;
      text-align: center;

      button {
        line-height: 1.9rem;
        padding: 14px 17px;
        font-size: 1.4rem;
        background: #000;
        color: #fff;
        outline: none;
        border: none;
        width: auto;
        text-transform: uppercase;
      }
    }
    .opc-block-summary {
      background: #f5f5f5;
      margin: 0 0 20px;
      padding: 22px 30px;
      width: calc(100% / 3);
      height: 100%;
      .modal-overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        width: 100vw;
        height: 100vh;
        z-index: 997;
        display: none;
      }
      .block-cart {
        .list-items {
          display: none;
        }

        &.open {
          .list-items {
            display: block;
          }
          .item-count {
            i {
              &::before {
                content: "";
              }
            }
          }
        }
      }
      .title {
        padding-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #333;
        font-weight: 400;
        font-size: 1.8rem;
      }
      .item-count {
        border-bottom: 1px solid #ccc;
        padding: 10px 40px 10px 0;
        cursor: pointer;
        display: block;
        text-decoration: none;
        margin-bottom: 0;
        position: relative;
        span {
          &,
          strong {
            font-size: 1.4rem;
            font-weight: 300;
            margin: 0;
          }
        }
        i {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 12px;
        }
      }
      .list-items {
        margin: 0 -15px 0 0;
        max-height: 370px;
        padding: 15px;
        border: 0;
        background: #fff;
        overflow-y: auto;
      }
      .cart-item {
        display: flex;
        padding: 20px 0;
        &:first-child {
          padding-top: 0;
        }
        &:not(:first-child) {
          border-top: 1px solid #c9c9c9;
        }
      }
      .item-img {
        width: 70px;
        height: 70px;
        margin-right: 42px;
      }
      .item-detail {
        flex: 1;
        display: flex;
      }
      .item-info {
        flex: 1;
      }
      .item-price {
        width: auto;
        margin-left: 5px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 28px;
      }
      .item-name {
        display: block;
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 20px;
      }
      .item-qty {
        margin-top: 10px;
        &,
        span {
          font-size: 1.2rem;
          line-height: 20px;
        }
      }
    }
    .ic-close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 12px;
      cursor: pointer;
      display: none;
    }
    .opc-estimated {
      display: none;
      justify-content: space-between;
      background: #f4f4f4;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      margin: 5px -15px 15px;
      padding: 18px 15px;
      .estimated-title {
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .total-price {
        &,
        span {
          font-size: 18px;
          line-height: 22px;
        }
      }
      .cart-icon-wrapper {
        height: 24px;
        i {
          font-size: 24px;
        }
        span {
          font-size: 13px;
          height: 24px;
          line-height: 24px;
          display: inline-block;
          vertical-align: bottom;
        }
      }
    }
    @media (max-width: 1032px) {
      .opc-block-summary {
        .list-items {
          padding: 10px 8px;
        }
        .item-img {
          margin-right: 10px;
          width: 50px;
          height: 50px;
        }
        .item-detail {
          display: block;
        }
        .item-price {
          text-align: right;
          margin-top: 5px;
          margin-left: 0;
        }
      }
    }
    @include respond-to("sm") {
      padding: 0 5px;
      display: block;

      .shipping-address {
        padding: 25px 10px;
      }
      .opc-estimated {
        display: flex;
      }
      .form-login {
        padding: 20px 15px;
        background: #f4f4f4;
        border-bottom: none;
      }
      .form-shipping {
        padding: 20px 15px 0;
        background: #f4f4f4;
      }
      .opc-shipping {
        width: 100%;
        padding-right: 0;
      }
      .opc-block-summary {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: rgba(51, 51, 51, 0.55);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        transform: translateX(100%);
        .ic-close {
          display: block;
        }
        &.open {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
        }
        .modal-overlay {
          display: block;
        }
        &__wrapper {
          width: calc(100% - 40px);
          height: 100%;
          left: 40px;
          position: relative;
          margin: 0;
          padding: 22px 15px 15px;
          background-color: #f4f4f4;
          z-index: 998;
        }
      }
      .shipping-method {
        padding: 25px 10px;
      }
      .form-method-shipping {
        padding: 20px 15px;
        background: #f4f4f4;
      }
      .table-additional-method{
          .label-price{
              display: block;
              text-align: right;
              width: 100%;
          }
      }
    }
  }
}
