footer {
    padding: 37px 0;
    .address-group {
        display: flex;
        picture {
            margin-right: 8px;
        }
        p {
            @extend .txt-white;
        }
    }
    @include respond-to('md'){
        padding: 20px 0;
    }
}
.footer{
    &-logo{
        picture{
            max-width: 120px;
        }
    }
    &-group{
        display: flex;
        align-items: center;
        @include respond-to('md'){
            flex-direction: column;
        }
    }
    &-logo{
        margin-right: 72px;
        @include respond-to('md'){
            margin-right: auto;
            width: 100%;
            max-width: 80px;
            margin-bottom: 12px;
        }
    }
    &-info {
        &-name {
            font-size: 24px;
            line-height: 35px;
            color: #e09826;

            @extend .font-Roboto;
        }
        @include respond-to('md'){
            padding-right: 40px;
            &-name {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    &-address{
        max-width: 773px;
        display: flex;

        margin-top: 16px;
        ul:first-child{
            margin-right: 32px;
        }
        @include respond-to('md'){
            display: block;
        }
    }
}
.address-item{
    margin-bottom: 8px;
    picture{
        max-width: 24px;
    }

    &:nth-child(1),
    &:nth-child(2){
        picture{
            max-width: 16px;
        }
    }

    &:nth-child(3){
        picture{
            max-width: 29px;
        }
    }
}