%shadow-b-1 {
    box-shadow: inset 0px -1px 0px #e4eaf1;
}
.accordion {
    &-card {
        // box-sizing: border-box;
        border-radius: $border-radius-desktop;
        border: $border-default;
        min-height: 1px;
    }
    $this: &;
    &-heading {
        padding: 16px;
        @extend %shadow-b-1;

        .label-text {
            color: $gray-900;
            @extend .f-w-500;
        }

        .icon-lg.icon-circle {
            width: 28px;
            height: 28px;
            font-size: 20px;
            background: $gray-400;
        }
    }

    &-list {
        > *:not(:last-child) {
            @extend %shadow-b-1;
        }
    }

    &-item {
        position: relative;
        padding: 12px 40px 12px 16px;
        transition: 0.3s ease-in;
        cursor: pointer;
        #{$this}-title {
            position: relative;
            z-index: 2;
            .label-is-icon {
                align-items: start;
            }
            .label-text {
                color: $gray-700;
                @extend .fs-p-18, .f-w-500;
                flex: 1;
                padding-right: 28px;
            }
            .icon-md.icon-circle {
                width: 20px;
                height: 20px;
                font-size: 10px;
                margin-right: 8px;
            }
            .label-icon-left i {
                background: $gray-400;
            }
        }

        &.open {
            #{$this}-icon {
                @extend .p-t-16;
            }
            .ac-down {
                transform: rotate(-180deg);
            }
        }
    }
    &-details {
        display: none;
        font-weight: normal;
        @extend .fs-p-16;
        color: $gray-700;
        padding-top: 12px;
        word-break: break-word;
    }
    &-icon {
        position: absolute;
        right: 16px;
        top: 0;

        width: 24px;
        height: 100%;

        text-align: center;
        padding-top: 18px;
        .ac-down {
            display: block;
            transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    &-default {
        #{$this}-icon {
            position: relative;
            top: 0;
            right: 0;

            width: 20px;
            height: 20px;

            @include flexCenter();

            @extend .m-r-4, .p-t-0;

            [class*="ic-"] {
                position: absolute;
                color: $gray;
                @extend .fs-ui-14;
            }
        }
        #{$this}-item {
            box-shadow: none;
            padding: 0;
            &:not(:first-child) {
                margin-top: 16px;
            }
            &.open {
                background: $white;
                .accordion-icon {
                    @extend .p-t-0;
                }
            }
        }
        #{$this}-title {
            display: flex;
            @extend .fs-p-16, .f-w-500;
        }
        #{$this}-details {
            padding-top: 4px;
            padding-left: 28px;
        }
    }
    &.heading-false {
        .open {
            &:first-child {
                border-radius: 12px 12px 0 0;
            }
            &:last-child {
                border-radius: 0 0 12px 12px;
            }
        }
    }
    @include respond-to("md") {
        %fs-mb {
            font-size: 14px !important;
            line-height: 20px !important;
        }
        %icon-mb {
            width: 16px !important;
            height: 16px !important;
            font-size: 8px !important;
        }
        &-heading {
            padding: 12px;
            .label-text {
                @extend .fs-p-md-16;
            }
            .icon-lg.icon-circle {
                @extend %icon-mb;
            }
        }
        &-item {
            padding: 8px 12px;
            #{$this}-title {
                .label-text {
                    @extend .fs-p-md-16;
                }
                .icon-md.icon-circle {
                    @extend %icon-mb;
                }
            }
            &.open {
                .accordion-icon {
                    @extend .p-t-md-0;
                }
            }
        }
        &-details {
            @extend .fs-p-md-16, .p-t-md-8;
            // padding-top: 8px;
        }
        &-icon {
            width: 28px;
            height: 28px;
            right: 12px;
            top: 12px;
            @extend .p-t-md-0;
        }
        &-default {
            #{$this}-icon {
                width: 16px;
                height: 16px;
                [class*="ic-"] {
                    @extend .fs-ui-md-12;
                }
            }
            #{$this}-title,
            #{$this}-details {
                @extend .fs-p-md-14;
            }
            #{$this}-details {
                @extend .p-l-md-24;
            }
        }
    }
}
