.lc-box.comment {
    &.none-comment {
        .box-body .lc__form {
            border-radius: 0 0 12px 12px;
        }
    }
}

.lc__rating {
    &-star {
        @extend .txt-gray;
        .fill,
        .selected {
            @extend .txt-warning;
        }
    }
}

.lc-reply {
    &-button {
        position: absolute;
        right: 16px;
        top: 36px;
    }
    @include respond-to("md") {
        &-button {
            position: relative;
            top: 0;
            right: 0;
            > * {
                width: 100%;
            }
        }
        .form-input {
            height: 56px;
        }
        .form-input-comment {
            height: 84px;
            &::placeholder {
                @extend .fs-p-md-16;
            }
        }
    }
}
.lc__reviews {
    &-progressviews {
        .progress-block:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    &-sendviews {
        padding-top: 28px;
        .btn {
            max-width: 270px;
            margin: auto;
        }
    }
    &-rating {
        box-shadow: none;
    }
    @include respond-to("md") {
        &-sendviews {
            .btn {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
.lc__cmt {
    &-block {
        &.feedback {
            padding-left: 88px;
        }
        &:not(:first-child) {
            @extend .m-t-16;
        }
    }
    &-ic {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        font-size: 40px;
    }
    @include respond-to("md") {
        &-block {
            &:not(:first-child) {
                @extend .m-t-md-8;
            }
            &.feedback {
                padding-left: 14px;
                margin-top: 4px !important;
            }
        }
        &-content--full {
            p {
                @extend .fs-p-md-14;
            }
        }
    }
}
.reviews {
    .lc__cmt {
        box-shadow: inset 0px 1px 0px #d8e0e8;
    }
}
