@import "../abstracts/variables";
a {
  cursor: pointer;
}
.lc-header {
  &_top {
    background-color: $primary-700;
    .lc-logo {
      @include respond-to("sm") {
        display: none;
      }
    }
    .lc-menu-mb {
      display: none;
      @include respond-to("sm") {
        display: block;
      }
      .lc-cart-mb {
        .group-icon {
          position: relative;
          span {
            position: absolute;
            right: 13px;
            top: -2px;
            min-width: 35px;
            background-color: #f59e0b;
            padding: 2px 5px;
            border-radius: 100px;
          }
        }
      }
    }
    .lc-search {
      @include respond-to("sm") {
        margin-top: 12px;
      }
      &_wrap {
        width: 550px;
        max-width: 100%;
        position: relative;
        margin: 0 auto;
        .lc-search-input {
          position: relative;
          border-radius: 100px 0 0 100px;
          flex: 1;
          input {
            width: 100%;
            padding: 0;
            border: none;
            outline: none;
          }
          .icon-close {
            cursor: pointer;
            i {
              position: absolute;
              right: 14px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        .lc-search-btn {
          padding: 0px 28px;
          height: 36px;
          border: none;
          border-radius: 0px 100px 100px 0px;
          background: $warning-500;
          @include respond-to("md") {
            padding: 0 20px;
          }
          @include respond-to("sm") {
            height: 28px;
            padding: 0 21px;
            i {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        .lc-gr-keyword {
          li {
            &:not(:last-child) {
              padding-right: 8px;
            }
            a {
              display: inline-block;
              color: $gray-200;
            }
          }
        }
      }
    }
    .lc-hotline {
      @include respond-to("lg") {
        i.ic-call-center {
          font-size: 22px;
        }
        &_number {
          h3 {
            font-size: 13px;
          }
          p {
            font-size: 11px;
          }
        }
      }
      @include respond-to("sm") {
        display: none;
      }
    }
    .lc-cart {
      position: relative;
      &_count {
        position: absolute;
        left: 22px;
        top: 0;
        min-width: 35px;
        background-color: $warning-500;
        padding: 2px 5px;
        border-radius: 100px;
      }
      @include respond-to("lg") {
        &_count {
          font-size: 12px;
          left: 15px;
          top: -5px;
          min-width: 30px;
        }
        i.ic-cart-2 {
          font-size: 22px;
        }
        h3 {
          font-size: 11px;
        }
      }
      @include respond-to("sm") {
        display: none;
      }
    }
  }
  &_bottom {
    background-color: $white-100;
    @include respond-to("sm") {
      display: none;
    }
    ul {
      li {
        .nav-item {
          display: inline-block;
          background-color: $white-100;
          transition: ease-in-out all 0.4s;
          @include respond-to("lg") {
            font-size: 12px;
            line-height: 16px;
            padding-left: 10px;
            padding-right: 10px;
          }
          @include respond-to("md") {
            font-size: 10px;
          }
          i {
            font-size: 10px;
            line-height: 10px;
          }
          &:hover {
            background-color: $warning-300;
            color: $warning-700;
          }
          &.active {
            background-color: $warning-500;
            color: $white-100;
          }
        }
        &:hover .submenu {
          opacity: 1;
          visibility: visible;
        }
        .submenu {
          transition: all 0.4s ease-in-out;
          position: absolute;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          border-radius: 0px 0px 12px 12px;
          overflow: hidden;
          &-left {
            ul {
              li {
                a {
                  display: block;
                  transition: 0.3s all ease-in-out;
                  &:hover {
                    box-shadow: inset 0px 1px 0px #d8e0e8,
                      inset 0px -1px 0px #d8e0e8;
                    background-color: $gray-100;
                    .sub-image {
                      img {
                        transition: all 0.3s ease-out;
                        border-radius: 50%;
                      }
                    }
                    p {
                      color: $primary-700;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
          &-right {
            .sub-top {
              .tmp-item {
                padding: 4px 8px 4px 4px;
                border-radius: 100px;
                &_wrap {
                  .tmp-image {
                    img {
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.lc-sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 9999;
  display: block;
  overflow-x: hidden;
  width: 100%;
  transform: translateX(-100%);
  transition: all ease-out 0.3s;
  &.active {
    transform: translateX(0);
    background: $black-70;
  }
  &_inner {
    width: 89%;
  }

  .lc-smMain {
    background-color: $white-100;
    &_menu {
      .menu-parent {
        &_item {
          position: relative;
          &.active {
            background: $gray-100;
            border-radius: 12px;
            .item-wrap {
              border-radius: 12px;
              background-color: $primary-500;
              .item-link {
                font-size: 16px;
                line-height: 16px;
                color: $white-100;
              }
              i.ic-angle-up {
                display: block;
                color: $gray-300;
              }
              i.ic-angle-down {
                display: none;
                color: $gray-300;
              }
            }
          }
          .item-wrap {
            transition: all ease-out 0.3s;
          }
          .item-link {
            display: block;
            flex: 1;
          }
          i {
            cursor: pointer;
          }

          i.ic-angle-up {
            display: none;
          }

          .menu-child {
            display: none;
            ul {
              li {
                a {
                  display: inline-block;
                  padding: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .lc-smBottom {
    height: 516px;
    a {
      i.ic-call {
        font-size: 10px;
        background-color: $primary-500;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
}
