
.list {
  li {
    @extend .fs-p-16;
    @include respond-to('md') {
      @extend .fs-p-md-14;
    }
    &:not(:last-child) {
      @extend .m-b-8;
      @include respond-to('md') {
        @extend .m-b-md-4;
      }
    }
  }
  &-group {
    display: list-item;
    li {
      position: relative;
      @extend .f-w-400;
      color: $gray-700;
      padding-left: 14px;

      // * {
      //   // font-weight: inherit;
      // }

      &::before {
        display: inline-block;
        position: absolute;
        top: 6px ;
        left: 1px;

        color: $gray-500;
        line-height: 100%;
      }
    }
  }
  &-disc {
    li {
      &::before {
        font-family: '#{$font-icon-family}';
        content: '\e9b5';

        font-size: 6px;
      }
    }

    &-small {
      li {
        @extend .p-l-10;
        &::before {
          font-family: '#{$font-icon-family}';
          content: '\e9b6';

          font-size: 4px;
        }
      }
    }
  }
  &-number, &-alphbet{
    counter-reset: section;
    li{
      padding-left: 16px;
    }
  }
  &-number {
    &::marker {
      display: none;
    }
    li {
      counter-increment: section;
      &::before {
        content: counter(section) '.';
        top: 0;
      }
    }
    &-small {
      li {
        counter-increment: section-small;
        @extend .p-l-12;
        &::before {
          content: counter(section-small) '.';
        }
      }
    }
  }
  &-alphabet {
    li {
      counter-increment: section;
      &:before {
        content: counter(section, lower-alpha) '.';
        top:0;
      }
    }
    &-small {
      li {
        counter-increment: section-small;
        @extend .p-l-12;
        &:before {
          content: counter(section-small, lower-alpha) '.';
        }
      }
    }
  }
}
