%gray800 {
  color: $gray-800;
}
$fs-ui-heading: '24', '28', '32', '36', '40', '44';
$fs-p-heading: (
  '24': '32',
  '28': '36',
  '32': '40',
  '36': '48',
  '40': '56',
  '44': '60',
);
.ppc-typography {
  &-heading1 {
    @include font-ppc(40px, 900, 56px);
    color: $gray-900;
  }
  &-heading2 {
    @include font-ppc(36px, 500, 48px);
    @extend %gray800;
  }
  &-heading3 {
    @include font-ppc(32px, 500, 40px);
    @extend %gray800;
  }
  &-heading4 {
    @include font-ppc(28px, 500, 36px);
    @extend %gray800;
  }
  &-heading5 {
    @include font-ppc(20px, 500, 28px);
    @extend %gray800;
  }
  &-heading6 {
    @include font-ppc(16px, 500, 24px);
    @extend %gray800;
  }
  @include respond-to('md') {
    &-heading1 {
      @extend .fs-p-md-24;
    }

    &-heading2,
    &-heading3 {
      @extend .fs-p-md-20;
    }
    &-heading4{
      @extend .fs-p-md-18;
    }
    &-heading5 {
      @extend .fs-p-md-16;
    }

    &-heading6 {
      @extend .fs-p-md-14;
    }
  }
}

.paragraph {
  color: $gray-700;
  &-normal {
    font-size: 16px;
    line-height: 24px;
  }
  &-padding {
    padding-bottom: 24px;
  }
  @include respond-to('sm') {
    &-normal {
      font-size: 14px;
      line-height: 20px;
    }
    &-padding {
      padding-bottom: 16px;
    }
  }
}

.small {
  @extend .fs-p-16, .txt-gray;
}
.ppc-typhography{

  blockquote{
    background: #edf2f8;
    border-radius: 0px 12px 12px 0px;
    @extend .p-r-16, .p-y-16, .position-relative;
    padding-left: 70px;
    &:before {
      content: '';
      position: absolute;
      @extend .bg-primary;
      width: 2px;
      height: 100%;

      top: 0;
      left: 0;
    }
    &:after{
      font-family: "icon-system" !important;
      content: "";
      position: absolute;

      color: #b6c0ce;
      font-size: 42px;
      line-height: 27px;

      top: 18px;
      left: 19px;
      // transform: translateY(calc(-50% + 16px));
    }
    > * {
      @extend .fs-p-18, .txt-gray-700;
      font-style: italic;

    }
  }

  &.ppc-typhography-drug{

    blockquote{
      padding-left: 16px;
      &:after{
        display: none;
      }
    }

  }
  @include respond-to('md') {
    blockquote{
      padding: 8px 12px 8px 52px;
      border-radius: 0px 8px 8px 0px;
      &:after{
        font-size: 28px;
        line-height: 18px;
        left: 14px;
      }
      > * {
        @extend .fs-p-md-14;
      }
    }
    &.ppc-typhography-drug{
      blockquote{
        padding-left: 12px;
        &:after{
          display: none;
        }
      }

    }
  }
}
.callout {
  background: #edf2f8;
  border-radius: 0px 12px 12px 0px;
  @extend .p-r-16, .p-y-16, .position-relative;
  padding-left: 14px;

  // max-width: 676px;
  &:before {
    @extend .bg-primary;
    width: 2px;
    height: 100%;

    top: 0;
    left: 0;
  }
  &-content {
    @extend .fs-p-18, .txt-gray-700;
  }
  &-quote {
    > * {
      color: $gray-400;
      font-size: 42px;
    }
  }
  @include respond-to('md') {
    padding: 8px 12px 8px 10px;
    &-content {
      @extend .fs-p-md-14;
    }
    &-quote {
      > * {
        font-size: 28px;
      }
    }
  }
}
//card
.lc-box {
  border: 1px solid $gray-300;
  @extend .radius-12;
  // overflow: hidden;
}
.lc-reply {
  &-button {
    position: absolute;
    right: 32px;
    top: 52px;
  }
}
//comment
.line-vertical {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 4px;
    height: 100%;

    background-color: $gray-300;
  }
}
code {
  border-radius: 5px;
  background: #f3f3f3;
  border: 1px solid #cd1818;
  display: inline-block;
  padding: 1px 3px;
margin: 10px 0;
}