.product {
    // border-top-right-radius: ;
    border: 1px solid $gray-300 !important;
    picture{
        @include aspect-ratio(200, 200, 0);
    }
    &__label {
        position: absolute;
        top: 12px;
        right: 12px;
        .badge {
            cursor: default;
            height: auto;
            line-height: 100%;
            padding: 4px 8px;
            border: none;
        }
        @include respond-to("md") {
            top: 8px;
            right: 8px;
        }
    }
    &__label-cate {
        .cs-badge {
            padding-top: 0;
            padding-bottom: 0;
            height: auto;
            line-height: 24px;
            border: none;
            box-shadow: 0 0 0 1px $gray-100;
        }
    }
    &.active {
        display: flex;
        .product__img {
            margin-right: 24px;
            margin-bottom: 0 !important;
        }
        .product-info__price {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: flex-end;
            .product-price {
                margin-left: 4px;
            }
        }
        @include respond-to("md") {
            box-shadow: inset 0px -1px 0px #e4eaf1;
            border-radius: unset !important;
            .product__label {
                left: 0;
                right: 0;
                top: 88px;
            }
        }
    }
    @media(min-width: 992px){
        &:hover{
            border-color: $primary !important;
        }
    }
    @include respond-to("md") {
        &__label-cate {
            .cs-badge {
                padding-top: 4px;
                padding-bottom: 4px;

                font-weight: 500;
                @extend .fs-ui-md-12;
            }
        }
    }
}

//product meta
.product__meta {
    &-item {
        &:not(:last-child) {
            @extend .m-b-4;
        }
        span {
            @extend .fs-p-14;
        }
    }
}
.lc__main {
    .transition {
        transition: all 0.3s ease;
    }
    .reset-row {
        .border-default {
            @extend .box-full;
        }
    }
    @media (min-width: 992px) {
        .reset-row .reset-col > .product.hover-product,
        .product.hover-product {
            &:hover {
                box-shadow: 0 0 0 1px $primary-400 !important;
            }
        }
    }
}
