$scrollbar-width-sm: 4px;
$scrollbar-width: 8px;
// scrollbar
@mixin scrollbar($size) {
  & {
    overflow-x: hidden;
    overflow-y: auto;
  }
  &:-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: $gray-600;
  }

  &::-webkit-scrollbar {
    width: #{$size};
    border-radius: 100px;
    background-color: $gray-400;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $gray-600;
  }
}
.scrollbar {
  @include scrollbar($scrollbar-width-sm);
  &-sm {
    @include scrollbar($scrollbar-width);
  }
}
