.wrap-slider {
	padding-top: 32px;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	.slider-bar {
		position: relative;
		text-align: left;
		background-color: $gray-300;
		border-radius: 6px;
		.slider-bar-handle {
			width: 12px;
			height: 12px;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
			border: 1px solid $gray-400;
			background-color: $white;
			border-radius: 100%;

			position: absolute;
			top: -4px;
			z-index: 2;
			cursor: pointer;
		}
		.slider-bar-range {
			position: absolute;
			z-index: 1;
			display: block;
			border: 0;
			background-color: $primary-500;
			top: 0;
			border-radius: 6px;
		}

		.value {
			position: absolute;
			top: -33px;
			left: 50%;
			width: auto;
			text-align: center;
			display: block;
			background-color: $gray-600;
			border-radius: 4px;
			color: $white;
			padding: 3px 5px;
			
			&:before {
				position: absolute;
				content: '';
				bottom: -2px;
				left: 45%;
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 2px solid $gray-600;
			}
		}
		&-rounded {
			.slider-bar-handle {
				border-radius: 4px;
			}
		}
	}
	&-horizontal {
		.slider-bar {
			width: 176px;
			height: 4px;
			.slider-bar-range {
				height: 100%;
			}
		}
	}
	&.slider-bar-md {
		.slider-bar-handle {
			width: 16px;
			height: 16px;
		}
		.slider-bar {
			height: 8px;
		}
	}
	
	&.wrap-slider-vertical {
		padding-top: 0;
		&.slider-bar-md {
			.slider-bar {
				width: 8px;
				.value {
					left: 20px;
				}
			}
			.slider-number {
				left: 30px;
			}
		}
		.slider-number {
			position: absolute;
			left: 24px;
			bottom: -4px;
			&-end {
				bottom: auto;
				top: -3px;
			}
		}
		.slider-bar .value {
			left: 14px;
			top: auto;
			&:before {
				border-right: 2px solid $gray-600;
				border-top: 3px solid transparent;
  				border-bottom: 3px solid transparent;
				border-left: none;
				top: 8px;
				left: -2px;
			
			}
		}
		.slider-bar {
			height: 176px;
			width: 4px;
			.slider-bar-range {
				width: 100%;
				top: auto;
				bottom: 0;
			}
			.slider-bar-handle {
				top: auto;
				left: -4px;
			}
		}
	}
}
