.slide {
    &-control {
        width: 40px !important;
        height: 40px !important;
        @extend .bg-white, .circle;
        border: 1px solid $gray-400;
        outline: none;

        @include flexCenter();

        opacity: 0.7;
        transition: $transition;
        > * {
            color: $gray-400;
        }
        &:hover,
        &:focus {
            opacity: 1;

            > * {
                color: $gray-600;
            }
        }
        &.btn-next {
            i {
                padding-left: 4px;
            }
        }
        &.swiper-button-disabled {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
        &:after {
            font-size: 0;
            content: '' !important;
        }
    }
}
.lc__slide-wrapper {
    [class*="btn-"] {
        &.swiper-button-disabled {
            opacity: 1;
            visibility: hidden;
        }
    }
}
.feature {
    &__gallery-top {
        picture {
            display: block;
            position: relative;
            max-width: 432px;
            min-height: 432px;
            margin: 72px auto;
            @include respond-to("sm") {
                max-width: 296px;
                min-height: 296px;
                margin: 32px auto;
            }
            // @include aspect-ratio(432,432,0);
            > * {
                height: auto !important;
            }
        }
        .count-badge {
            top: 0;
            right: 12px;
            span.badge {
                background: rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                color: #fff;
                font-size: 12px;
                line-height: 16px;
            }
        }
        @include respond-to("md") {
            .slide-control {
                opacity: 1;
                background-color: transparent !important;
                border: none;
                > * {
                    color: #52637a;
                }
            }
        }
    }
    &__gallery-thumbs {
        max-width: 444px;
        .item-thumbs {
            @extend .relative;
            max-width: 132px;
            max-height: 132px;

            @include respond-to("md") {
                max-width: 79px;
                max-height: 79px;
                // margin-right: 8px !important;
            }

            @media (max-width: 359px) {
                max-width: 68px;
                max-height: 68px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                border: 1px solid $primary-700;
                box-sizing: border-box;
                border-radius: 12px;
                transition: all 0.1s;
            }
            &.active:before {
                opacity: 1;
                visibility: visible;
            }
            span {
                display: block;
                cursor: pointer;
                @extend .p-x-16, .p-y-16;
                picture {
                    @include aspect-ratio(1, 1, 0);
                }
            }
        }
        @include respond-to("md") {
            // max-width: 253px;
            margin: 0 !important;
            .item-thumbs > span {
                @extend .p-x-md-6, .p-y-md-6;
            }
        }
        @media (max-width: 359px) {
            // max-width: 228px;
        }
    }
}
.cs-gallery {
    @include respond-to("md") {
        justify-content: start;
        @extend .p-x-md-10;
    }
}
.view-gallery {
    position: relative;
    width: 132px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    padding: 16px;
    picture {
        @include aspect-ratio(1, 1, 0);
        border-radius: 8px;
    }
    img {
        border-radius: inherit;
    }
    @include respond-to("md") {
        display: none;
        width: 79px;
        margin-left: 8px;
        border-radius: 8px !important;
        padding: 4px 6px;
    }
    @media (max-width: 359px) {
        width: 68px;
        margin-left: 0;
    }
    &:before {
        content: "+99";
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        color: #fff;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        pointer-events: none;
        z-index: 1;
        @include respond-to("md") {
            font-size: 20px;
            font-weight: 400;
        }
    }
}
