$border-spinner-width: $border-width * 4;
$border-spinner-width-big: $border-width * 6;
$spinner-border-color: $gray-200 !default;
$spinner-size-big: 64px !default;

.list-spinner {
	display: flex;
	align-items: flex-start;
}

.lc__load {
    background: $white-70;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 999999;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.spinner {
	border: $border-spinner-width solid $spinner-border-color;
	border-radius: 50%;
	border-top: $border-spinner-width solid $primary;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
	&-big {
		border-width: $border-spinner-width-big;
		width: $spinner-size-big;
		height: $spinner-size-big;
	}
	&-secondary {
		border-top-color: $gray;
	}
	&-text {
		white-space: nowrap;
		display: block;
		margin-top: $spacing * 2;
		width: 100%;
		@extend .fs-ui-16, .f-w-400, .txt-gray;
	}
	@include respond-to('md'){

		width: 36px;
		height: 36px;

		&-big {
			width: 60px;
			height: 60px;
		}

		&-text {
			@extend .fs-ui-md-14;
		}

	}
}

.wrap-spinner {
	&.border {
		background: $white-100;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 12px;
		width: 148px;
		padding: 10px;
		margin: 0 auto;
	}
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}